@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Merriweather&family=Roboto&family=Special+Elite&display=swap');
/* google fonts used with google's free, open source license */


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
    font-family: 'roboto';
    background-color: rgba(123, 123, 177, .3)!important;
}

header {
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.navbar a {
    color: black;
    list-style: none;
    text-decoration: none;
    font-size: 3vh;
}

.navbar a:hover {
    color:rgba(1, 1, 180, .9);
}

.nav {
    padding-inline: 2vh;
    display: inline-flex;
    justify-content: space-between;
}

.bodyCon img {
    width: 50vw;
    border-radius: 7px;
}

.bodyCon img:hover {
    box-shadow: 0px 0px 10px grey;
}

#indexHead:hover {
    text-shadow: 0px 0px 4px grey;
}

#secondaryInfo {
    color: green;
}

#abouted {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#smirk {
    font-size: .9vh;
}

#daTable{
    border: 3px solid black;
    border-collapse: collapse;
    padding: 1vh;
}

#daTable tr:nth-child(even) {
    background-color: rgba(52, 52, 123, .1);
}
#daTable tr:nth-child(odd) {
    background-color: rgba(52, 52, 123, .2);
}

.trow {
    border-bottom: 2px solid black;
}

td {
    padding: 2vh;
    border-left: 2px solid black;
    color:rgba(1, 100, 1, 1);
}

td:hover {
    background-color:rgba(1, 1, 180, .4);
    color: white;
}

td h1{
    color: rgba(0,0,0,.7);
}

#daForm {
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.formItems {
    font-size: 2rem;
    padding-top: 8px;
}

.formItems input {

}

#daForm button {
    border-radius: 10px;
    border-style: none;
    margin-top: 10px;
    padding: 1vh;
    background-color: rgba(255,255, 240);
    font-size: 3rem;
}

#daForm button:hover {
    background-color: white;
    box-shadow: 0px 0px 10px grey;
}

.specificallyTextInput {
    font-family: 'macondo';
}