body {
    width: 100%;
    height: 100%;
}

.big {
    width: 100%;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.play {
    width: 30vh;
    height: 10vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.player1 {
    justify-content: center;
}

.player2 {
    justify-content: center;
}

.card {
    margin-top: 1em;
    padding: 1em;
    justify-content: center;
}